/*
 * Admin css File
*/

.Admin {
    /* propertys here */
}

#logoutBtn{
    color: #CC6C67;
}

#logoutBtn:hover{
    background-color: #FF8781;
    color: black;
}

#deleteBtn{
    background-color: #ff6961;
    color: white;
}

#deleteBtn:hover{
    background-color: #FF8781;
    color: black;
}

#addBtn{
    background-color: mediumaquamarine;
    color: white;
}

#addBtn:hover{
    background-color: #A2CEC5;
    color: black;
}

#editBtn{
    background-color: orange;
    color: white;
}
#editBtn:hover{
    background-color: #FFDA97;
    color: black;
}

#navColor{
    background-color: mediumaquamarine!important;
    color: white;
}

#fooColor{
    background-color: mediumaquamarine!important;
    color: white;
}

.MuiFab-root {
    color: white;
}

a{
    color: mediumaquamarine; 
    /* teal */
}
#tableBg{
    /* background-color: mediumaquamarine; */
}

a:hover {
    background-color: #A2CEC5;
    color:white;
  }

#navText{
    border-style: solid!important;
    border: white!important;
}

#icon{
    transform: scale(2.5);
}